.App {
  border: 1px solid #000;
  padding: 20px;
  margin: 88px 240px;
  width: 50%;
}
.searchCity,
.btns {
  margin: 0 7px;
  padding: 8px 30px;
  border-radius: 4px;
  border-color: #307d7e;
  border: 1px solid #307d7e;
}
.btns {
  background: #307d7e;
  color: #fff;
}
.WeatherData {
  line-height: 7px;
}
.WeatherConditions,
.WeatherConditionsCurrently,
.WeatherForecast .row {
  display: flex;
}
.WeatherConditions {
  margin: 50px 0;
}
.WeatherConditionsData{
  margin: 60px;
}
.WeatherConditions .Temperature {
  font-size: 50px;
}
.WeatherConditionsCurrently,
.WeatherForecast .row {
  justify-content: space-between;
}
.WeatherIcon{
  margin: 46px 0;
}
